*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 90%;
    max-width: 800px;
    margin: 1rem auto 0;
    
    /* border: 1px solid; */
    overflow: hidden;
}

img{
    width: 200px;
}

.title{
    text-align: center;
}

.container{
    width: 100%;
    max-width: 600px;
    height: 600px;
    margin: 1rem  auto 0;
    /* background-color: aqua; */
    transform: translateY(0);
}

@starting-style{
    .container{
        transform: translateY(-150%);
    }
}


/*     CLASES AUX   */

.centroADerecha{
    animation: rightAnimation 1s ease-in-out forwards;
}
.izquierdaACentro {
    animation: leftAnimation 1s ease-in-out forwards;
}
.creacionPantallaPrincipal{
    animation: pantallaPrincipal 1s forwards;
}

@keyframes leftAnimation {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes rightAnimation {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(200%);
    }
}
@keyframes pantallaPrincipal {
    from{
        transform: translateY(-150%);
    }
    to{
        transform: translateY(0);
    }
}
